.delete-button {
  margin-left: 5px;
  font-size: 10px; /* Font mai mic */
  padding: 2px 7px; /* Spațiu redus */
  background-color: #f56b6b; /* Culoare roșie pentru delete */
  color: white;
  border: none;
  border-radius: 3px; /* Colțuri ușor rotunjite */
  cursor: pointer;
  transition: all 0.2s ease; /* Tranziție lină */
}

.delete-button:hover {
  background-color: #ff3333; /* Culoare mai închisă la hover */
  transform: scale(1.1); /* Ușoară mărire la hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Umbra la hover */
}

.delete-button:active {
  transform: scale(0.95); /* Ușoară micșorare la click */
}
